{% extends "basetemplate.html" %}
{% block title %}EdA About{% endblock %}
{% block additional_static %}
    <link href="{{ url_for('static', filename='css/offcanvas.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <main role="main" class="container">


      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h4 class="border-bottom border-gray pb-2 mb-0">About this website</h4>
        <div class="media text-muted pt-3">
          <p class="media-body pb-10 mb-0 large lh-125 border-bottom border-gray">
           Welcome to Education AI! We are here to help you learn and explore MOOCs in a more efficient way. Below are two novel features that we have!
              <br />
              <br />
              1.Here, you can explore MOOCs based on knowledge concept dependencies. EduAI will build knowledge graphs consisting of the search-related concepts and their prerequisite relations.  When you decides to learn a competency, our system guides the learning process by suggesting the appropriate MOOCs following the prerequisite order.
          <br />
              <br />
              2.Personalized learning. Learners have various backgrounds, and traditional platforms ignore this diversity by suggesting the same courses for every learner. For instance, a user with a mathematics degree would take very little away from a linear algebra introduction in a machine learning competency track.  To make the learning process more personally relevant, our website will offer a user management system that takes every learner’s background into consideration to provide knowledge concepts and courses in a personalized way.
          </p>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h4 class="border-bottom border-gray pb-2 mb-0">Recent Updates</h4>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Concept Graph</strong>
              <a href="{{url_for('visualizer.showing_concepts')}}">Check it out!</a>
            </div>
            <span class="d-block">@Zijie Huang</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Browse Mode</strong>
              <a href="/">Check it out!</a>
            </div>
            <span class="d-block">@Zijie Huang</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Contact Us</strong>
              <a href="contact">Check it out!</a>
            </div>
            <span class="d-block">@Zijie Huang</span>
          </div>
        </div>
      </div>
    </main>
{% endblock %}





