{% extends "basetemplate.html" %}
{% block title %} {{g.show_user.get_name()}}'s Home {% endblock %}
{% block additional_static %}
<link href="{{ url_for('static', filename='css/avatar_style.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/pure-min.css') }}" type="text/css" rel="stylesheet">
<script src="{{ url_for('static', filename='js/social.js') }}" type="text/javascript"></script>
{% endblock %}
{% block page_content %}
  <!-- Modal -->
  <div class="modal fade" id="submitphotoModal" tabindex="-1" role="dialog" aria-labelledby="submitphotoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="submitphotoModalLabel">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to submit?</p>
            <p>After submitting the new photo, the old one will be removed forever.</p>
            <p>
            <div class="form-group">
              <button type="button" class="btn btn-secondary pull-right" onclick="image_submit();">
                Submit Anyway
              </button>
            </div>
            </p>
          </div>
        </div>
      </div>
  </div>
  <!-- End Modal -->
  <main role="main" class="overflow-auto fixed_height padded_content_narrow">

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" align="center">
        <h1>{{g.show_user.get_name()}}'s study room</h1>

        {% if authorized %}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
          </div>
          <textarea class="form-control" aria-label="textarea">{{g.user_description}}</textarea>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="alert('do something to update the description of a user account');">Update</button>
          </div>
        </div>
        {% else %}
        <h3>
          <small>{{g.user_description}}</small>
          {% if current_user.is_authenticated %}
          <script type="text/javascript">var show_user = {'name': '{{g.show_user.get_name()}}', 'id': '{{g.show_user.get_id()}}' };</script>
          <button class="btn btn-secondary my-2 my-sm-0" title="sending friend request" onclick="handeling_friend_request();">
            <!--i class="fa fa-users"></i-->
            <i class="fa fa-user-plus"></i>
          </button>
          <button class="btn btn-secondary my-2 my-sm-0" title="sending message" onclick="user_chat();">
            <i class="fa fa-comments-o"></i>
          </button>
          {% endif %}
        </h3>
        {% endif %}

        <div class="container">
          <div class="avatar-upload">
                  {% if authorized %}
                  <form id="imageInput" action="/upload_photo" method="POST" enctype="multipart/form-data">
                    <div class="avatar-edit">
                        <input type='file' name="img" id="imageUpload" accept="image/x-png,image/gif,image/jpeg" />
                        <label for="imageUpload" title="Accepted format: .png, .jpg, .jpeg .gif"></label>
                    </div>
                  </form>
                  <div class="avatar-submit">
                      <label for="imageSubmit" data-toggle="modal" data-target="#submitphotoModal" title="Update Your Photo"></label>
                  </div>
                  {% endif %}
                  <div class="avatar-preview">
                    {% if g.user_image %}
                      <div id="imagePreview" style="background-image: url({{ url_for('static', filename='img/users/')}}{{g.user_image}});">
                      </div>
                    {% else %}
                      <div id="imagePreview" style="background-image: url({{ url_for('static', filename='img/users/default.jpg')}});">
                      </div>
                    {% endif %}
                  </div>
          </div>
        </div>

        <hr>
        </div>
      </div>

      <div class="row">


        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-4" id="basic_user_info">
          <div class="card padded_card">
            <div class="card-header">
              Basic Information
            </div>
            <div class="card-body">
              {% if authorized %}
              <form class="form" action="#">
                <label for="printUserName" class="mr-sm-2">User Name:</label>
                <input type="text" id="printUserName" name="printUserName" class="form-control mb-2 mr-sm-2" placeholder="User Name" readonly value="{{g.show_user.get_name()}}">
            		<label for="email" class="mr-sm-2">Email address:</label>
                <input type="email" class="form-control mb-2 mr-sm-2" id="email" value="{{g.show_user.get_email()}}">
                <script type="text/javascript">console.log("{{g.show_user.get_education()}}")</script>
                <div class="form-group">
                  <label for="inputEduLevel">Highest Level of Education (could be on-going)</label>
                  <select class="form-control" id="inputEduLevel" name="inputEduLevel">
                    {% for edu_lev in g.education_levels %}
                      {% if edu_lev == g.show_user.get_education() %}
                      <option selected>{{edu_lev}}</option>
                      {% else %}
                      <option>{{edu_lev}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <label for="pwd" class="mr-sm-2">Password:</label>
                <button class="form-control btn btn-secondary mb-2 mr-sm-2" id="pwd" onclick="alert('planning on using a modal to do this latter');">change password</button>
                <button type="submit" class="btn btn-secondary mb-2">Update</button>
              </form>
              {% else %}
              <label>User Name: {{g.show_user.get_name()}}</label>
              <label>Created At: {{g.show_user.get_date_created()}}</label>
              <label>Modified: {{g.show_user.get_date_modified()}}</label>
              <label>Interests: {{g.show_user.get_interests()}}</label>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-4" id="foot_print">
          <div class="card padded_card">
            <div class="card-header">
              Most Recent Foot Print
            </div>
            <ul class="list-group list-group-flush">
              {% for history in g.user_history %}
                <li class="list-group-item"><a href="{{history.link}}" target="_blank">{{history.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-4" id="recommend">
          <div class="card padded_card">
            <div class="card-header">
              {{g.show_user.get_name()}} Might Like
            </div>
            <ul class="list-group list-group-flush">
              {% for recommend in g.user_recommend %}
                <li class="list-group-item"><a href="{{recommend.link}}" target="_blank">{{recommend.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>



  </main>

<script src="{{ url_for('static', filename='js/avatar_load.js') }}" type="text/javascript"></script>
{% endblock %}
