#analyze_radar {
  padding: 20px;
}

.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.Long-Term, .Long-Term .circle {
  fill: #ADD8E6;
  stroke: none;
}
.area.Recent, .Recent .circle {
  fill: #FFD700;
  stroke: none;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

.padded_card {
  margin-top:10px;
}